<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hastane Randevu Sistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital2.styles.css" asp-append-version="true" />
    <style>
        /* Add hover effect for navigation items */
        .navbar-nav .nav-item:hover .nav-link {
            font-weight: bold;
            
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 rounded-3"> 
            <div class="container-fluid">
                <!-- Logo added to the left of the navigation -->
                <a class="navbar-brand" asp-controller="Admin" asp-action="UserList">

                    <img src="~/img/logo.png" alt="Logo" height="60" class="d-inline-block align-text-top" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Randevularim">Randevular</a>
                        </li>
                        <li class="nav-item">
                            
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Randevu Al</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="profil" asp-route-id="@Context.Session.GetInt32("UserId")">Kişisel Bilgiler</a>
                        </li>
                    </ul>
                </div>

                @if (ViewBag.IsAuthenticated == true)
                {
                    <div>
                        <span class="me-2" >Hoşgeldiniz  </span>
                        <span class="me-5 fw-bold" style="font-size:20px">@Context.Session.GetString("UserName")</span>                        
                    </div>
                    <div class="uyegiris"><a class="btn btn-outline-danger rounded-3 text-info fw-bold border-2 px-2 py-1 mt-0" asp-area="" asp-controller="Login" asp-action="index">Çıkış Yap </a></div>
                }
                else
                {

                   
                }
                    
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #333">
        <div class="container">
            <span style="color:seashell">&copy; 2023 - Hastane Randevu Sistemi - Kullanıcı Paneli </span>
        </div>
    </footer>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
